 /* Styling for the Analytics webpage */
 .middle-container{
    height: 82%;
    width:1105px;
    left:360px;
    top:125px;
    border-radius: 5px;
    background-color: transparent;
    position: absolute;
}
 
 /*Reports navigation section*/
 .report-nav {
    display: flex;
    position: absolute;
    display: flex;
    margin-top: 0px;
    width:100% ;
}

.report-nav button {
    background-color: white;
    color: black;
    width:33.33%;
    height: 40px;
    border:none;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    transition: background-color 0.3s;
}

.report-nav button.active {
    background-color: #1F41BB;
    color:white;
}

.report-slides {
    position: relative;
    width: 100%;
    height: 93%;
    margin-top: 40px;
    overflow: hidden;
}

.report-slide {
    position: absolute;
    top: 0;
    left: 100%; 
    width: 100%;
    height: 100%;
}

.report-slide.active {
    left: 0; 
}

.red-text{
    position: absolute;
    margin-top:20px;
    margin-left:90%;
    font-size: 25px;
    font-weight: bold;
    color:red;
}

.chart-container {
    background-color: white;
    width: 100%;
    margin-top:40px;
    height:85%;
    padding: 20px 0px 20px;
}

.chart-container h2{
    position: absolute;
    margin-top:20px;
    margin-left:70%;
}

#YearlyInspections {
    width: 80%;
    height: 90%;
}

.chart-container canvas {
    position:absolute;
    margin-top:50px;
    height: 100%;
}

.search-button {
  background-color: #1F41BB; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  padding: 8px 30px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #3700b3; 
  color:white
}


/*Content Listing Styles*/
.header-container{
    height: 40px;
    width:100%;
    margin-top:25px;
    background-color: #ADC1ED;
    position: absolute;
}

.header-top{
    font-size: 16px;
    margin-top:12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position :absolute;
    color:black;
}

.content-container{
    height: 85%;
    position: absolute;
    width:100%;
    top:68px;
    background-color: transparent;
    position: absolute;
    overflow-y: auto;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.content-row::-webkit-scrollbar {
    display: none;
}

.content-row{
    width:100%;
    height: 40px;
    margin-top:0px;
    border-bottom: 1px solid black;
    position: relative;
}

.element-1 {
    color: black;
    font-size: 16px;
    margin-top: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    left: 20px;
    position: absolute; 
    display: inline-block; 
}

.element-2 {
    color: black;
    font-size: 16px;
    margin-top: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    left: 220px;
    position: absolute; 
    display: inline-block; 
}

.element-3{
    color: black;
    font-size: 16px;
    margin-top: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    left: 660px;
    position: absolute; 
    display: inline-block; 
}

.element-4{
    color: black;
    font-size: 16px;
    margin-top: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    left: 800px;
    position: absolute; 
    display: inline-block; 
}

.element-5{
    color: black;
    font-size: 16px;
    margin-top: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    left: 970px;
    position: absolute; 
    display: inline-block; 
}


/* Shop Category Based Analytics Section */
.shop-analytics-container {
    width: 100%;
    height: 100%;
}

.filter-row {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 10px;
}

.filter-label {
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

.shop-category-select {
    padding: 8px;
    font-size: 14px;
    width: 190px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 15px;
    font-family: Arial, sans-serif;
}

.analytics-content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    height: 80%;
}

.shop-table {
    width: 48%;
    background-color: #F4F8FF;
    padding: 15px;
    border-radius: 1px solid black;
}

.shop-table h3{
    font-size: 20px;
}

.shop-table-header {
    height: 40px;
    background-color: #ADC1ED;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 10px;
    border-radius: 4px;
}

.shop-header-col {
    position: absolute;
    top: 10px;
    color: black;
}

.col-1 { left: 10px; }
.col-2 { left: 140px; }
.col-3 { left: 390px; }

.shop-table-body {
    height: 75%;
    overflow-y: auto;
}

.shop-table-row {
    height: 40px;
    border-bottom: 1px solid black;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.shop-table-row p {
    position: absolute;
    top: 10px;
    margin: 0;
    color: black;
}

.shop-table-row .col-1 { left: 10px; }
.shop-table-row .col-2 { left: 140px; }
.shop-table-row .col-3 { left: 390px; }


/* Chart */
.shop-chart {
    width: 48%;
    background-color: #F4F8FF;
    padding: 15px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
    justify-content: flex-start;
    text-align: left;         
}

.shop-chart h3 {
    font-family: Arial, sans-serif;
    font-size: 20px;         
    font-weight: bold;      
    align-self: flex-start;
    margin-top: -5px;
}

.shop-chart canvas {
    max-width: 350px;
    max-height: 300px;
}

.shop-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.shop-chart .chartjs-legend ul li span {
    width: 10px ;
    height: 10px ;
    margin-right: 6px;
    border-radius: 2px;
}

